:root{
--backgound_color: #A267AC;
--yellow:#FFC600;
}

html,
body{
  margin:20px 5px;
  padding:0;
  background: var(--backgound_color);
}
@media (max-width: 850px){
  .nav-bar ul{

  }
}
.nav-bar{
 display: flex;
 align-items: center;
 justify-content: center;
}
.nav-bar ul{
  display: flex;
  align-items: center;
}
.nav-bar li{
margin-left: 10px;
}
.nav-bar li, a{
  list-style: none;
  text-decoration: none;
  color: #072227;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: helvetica,'Times New Roman', arial;
  background: var(--yellow);
  text-align: center;
  padding:8px;
  width: 180px;

}
