:root{
--backgound_color: #A267AC;
--yellow:#FFC600;
}

html,
body{
  margin:0;
  padding:0;
  background: var(--backgound_color);
}
.nav-bar{
 display: flex;
 flex-direction: column;
}
.nav-bar ul{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 220px));
  grid-gap: 5px;
  justify-content: center;
  align-self: center;
}
.nav-bar li, a{
  list-style: none;
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: cursive;
  background: var(--yellow);
  text-align: center;
}
