:root{
--backgound_color: #B8405E;
--yellow:#ffc600;
}

html,
body{
  margin:30px 30px;
  padding:0;
  background: var(--backgound_color);
}


.menu a, li{
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-family: sans-serif;
  font-weight: bolder;
  background: var(--yellow);
  text-align: center;
  list-style: none;
  cursor: pointer;
  transition: 0.3s;
}
.menu{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.menu ul{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 5px;
  width: 100%;
  transition: 0.2s;

}
.menu li{
  border-style: inset;
  border-color: var(--yellow);
  border-width: thin;
  padding: 10px 20px;
}
.menu li:hover{
    box-shadow: 0px 10px 10px black;
}
.hamburger{
  position: relative;
  height: 4px;
  width:25px;
  left:0;
  background:var(--yellow);
  cursor: pointer;
  z-index: 1;
  transition: 0.3s;
}
.hamburger::before,
.hamburger::after{
  content: "";
  position:absolute;
  background:var(--yellow);
  height:4px;
  width: 25px;
  cursor: pointer;
 transition: 0.3s;
}
.hamburger::before{
  top: -5px;
}
.hamburger::after{
  top:5px;
}
.checkbox{
  position: absolute;
  width:25px;
  height: 25px;
  cursor: pointer;
  z-index: 2;
  opacity:0;

}
.checkbox,
.hamburger{
  display: none;
}
.menu input:checked ~ .hamburger{
  background: transparent;
}
.menu input:checked ~ .hamburger::before{
  top:0;
  transform:rotate(-45deg);
  width: 25px;
}
.menu input:checked ~ .hamburger::after{
  top:0;
  transform: rotate(45deg);
  width: 25px;
}

/*Parte após o menu*/
.first{
  display:grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 50% 50%;
  grid-template-areas: "image price1""image price2";
  grid-gap: 15px;
  padding-top:10px;
}
.figure,
.price1,
.price2{
  background: var(--yellow);
}
.figure{
  grid-area: image;
  width:100%;
  height: 100%;
  object-fit: cover;
}
.price1{
  grid-area:price1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    height: 100%;
}
.price2{
  grid-area: price2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.price1 h2,
.price2 h2{
  line-height: 0;
  font-size: 3rem;
  font-weight: 100;
  color: black;
}
.price1 p,
.price2 p
{
  line-height: 0;
  margin-top:0.8px;
  font-size: 1.1rem;
  font-weight: bolder;

}
/*Media query*/
@media screen and (max-width:920px){
  .body{
    margin:0 -20px;
    padding:0;
  }
  .checkbox,
  .hamburger
  {
    display: block;
  }
 .hamburger{
   bottom:25px;
 }
 .checkbox{
   top:20px;
 }
  .menu{
    flex-direction: column;
    align-items:center;
    height:100%;
  }
  .menu ul{
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding:0;
  top: -1000px;
  position: fixed;
  grid-gap:0;
  }
  .menu li{
    width: 100%;
    border-style: none;
}
  .menu li:hover{
    box-shadow: 0 0 0 0;
    border-style: inset;
    border-color:var(--yellow);
    border-width:medium;
  }
  .menu input:checked ~ ul{
  top: 40px;
  }
  .first{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70% 30%;
    grid-template-areas: "image image" "price1 price2";
}
}
